{% extends "::base.html.twig" %}

{% block title %}PatientBundle:Register:cancelVisit{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h1>Wybierz wizytę, którą chcesz odwołać:</h1>
        <form>
            {% for visit in visits %}
                <input type="radio">{{ visit.day }}/{{ visit.month }}/{{ visit.year }}r. godz. {{ visit.hour }} <br>
            {% endfor %}
            <input type="submit" value="Zatwierdź">
        </form>
    </div>
{% endblock %}