{% extends "::base.html.twig" %}

{% block title %}PatientBundle:Register:add{% endblock %}

{% block body %}
    <div style="margin-left: 20%; margin-right: 20%; width: 60%">
        <h2 style="text-align: center">Krok 3: Wprowadź dane:</h2>
        <form style="margin-left: 30%; margin-right: 30%" action="{{ asset('patientDataConfirmation') }}" method="post">
            Imię:<br><input type="text" name="name"><br>
            Nazwisko:<br><input type="text" name="surname"><br>
            nr tel:<br><input type="text" name="phone"><br>
            <input type="submit" value="Wyslij">
        </form>
    </div>
{% endblock %}