{% extends "::base.html.twig" %}

{% block title %}PatientBundle:Register:confirm{% endblock %}

{% block body %}
    <div id="dataConfirm">
        <h2>Krok 4: Wpisz kod otrzymany w wiadomości SMS:</h2>
        <form action="{{ asset('saveVisit') }}" method="post">
            <input type="number" name="code">
            <input type="submit" value="Wyślij">
        </form>
    </div>
{% endblock %}