{% extends "::base.html.twig" %}

{% block title %}PatientBundle:Register:selectHour{% endblock %}

{% block body %}
    <div style="margin-left: 30%; margin-right: 30%; margin-top: 5%">
        <h2 style="text-align: center">Krok 3: Wybierz godzinę wizyty:</h2>
        {% if noDay == 2 %}
            <p>Wtorek:</p>
            {% for i in 1..8 %}
                {% if loop.index == 1 %}
                    {% if '14:00' in diabArray %}
                        <div class="day reserved">14:00-14:30</div>
                    {% else %}
                        <a href="#"><div class="day free">14:00-14:30</div></a>
                    {% endif %}
                {% elseif loop.index == 2 %}
                    {% if '14:30' in diabArray or '14:30' in dietArray or '14:00' in dietArray %}
                        <div class="day reserved">14:30-15:00</div>
                    {% else %}
                        <a href="#"><div class="day free">14:30-15:00</div></a>
                    {% endif %}
                {% elseif loop.index == 3 %}
                    {% if '15:00' in diabArray or '15:00' in dietArray or '14:30' in dietArray %}
                        <div class="day reserved">15:00-15:30</div>
                    {% else %}
                        <a href="#"><div class="day free">15:00-15:30</div></a>
                    {% endif %}
                {% elseif loop.index == 4 %}
                    {% if '15:30' in diabArray or '15:30' in dietArray or '15:00' in dietArray %}
                        <div class="day reserved">15:30-16:00</div>
                    {% else %}
                        <a href="#"><div class="day free">15:30-16:00</div></a>
                    {% endif %}
                {% elseif loop.index == 5 %}
                    {% if '16:00' in diabArray or '16:00' in dietArray or '15:30' in dietArray %}
                        <div class="day reserved">16:00-16:30</div>
                    {% else %}
                        <a href="#"><div class="day free">16:00-16:30</div></a>
                    {% endif %}
                {% elseif loop.index == 6 %}
                    {% if '16:30' in diabArray or '16:30' in dietArray or '16:00' in dietArray %}
                        <div class="day reserved">16:30-17:00</div>
                    {% else %}
                        <a href="#"><div class="day free">16:30-17:00</div></a>
                    {% endif %}
                {% elseif loop.index == 7 %}
                    {% if '17:00' in diabArray or '17:00' in dietArray or '16:30' in dietArray %}
                        <div class="day reserved">17:00-17:30</div>
                    {% else %}
                        <a href="#"><div class="day free">17:00-17:30</div></a>
                    {% endif %}
                {% elseif loop.index == 8 %}
                    {% if '17:30' in diabArray or '17:30' in dietArray or '17:00' in dietArray %}
                        <div class="day reserved">17:30-18:00</div>
                    {% else %}
                        <a href="#"><div class="day free">17:30-18:00</div></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Piątek</p>
        {% endif %}
    </div>
{% endblock %}