body {
    background-color: #5eb5e0;
}

.days {
    padding-left: 20px;
    padding-right: 20px;
}

.days:last-child {
    border-right: none;
}

#calendarTable td {
    text-align: center;
    border: 1px black dotted;
    padding-bottom: 10px;
    padding-top: 10px;
}