body {
    background-color: #5eb5e0;
}

.days {
    padding-left: 20px;
    padding-right: 20px;
}

.days:last-child {
    border-right: none;
}

#calendarTable {
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
}

#calendarTable td {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: lightcyan;
    padding-bottom: 20px;
    padding-top: 20px;
}

td:hover {
    color: red;
    background-color: lightgreen;
}

td a:hover {
    background-color: #222222;
    color: white;

}

#diab {
    display: inline;
}

#diet {
    display: none;
}

ul li {
    padding-top: 20px;
}

.day {
    padding: 12px;
    border: solid 1px #000000;
    margin: 5px;
}

.reserved {
    background-color: red;
}

.reserved:hover {

}

.free {
    background-color: lightgreen;
}

.free:hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

#patientVisit, th, tr, td {
    border: solid 3px black;
    font-size: large;
}

#patientVisit th, #patientVisit td {
    padding: 12px;
}

#patientVisit a {
    text-decoration: none;
}

.box {
    width: 15em;
    height: 15em;
    background-color: lightseagreen;
    border: solid 1px black;
    text-align: center;
    float: left;
    margin: 20px;
}

.box span {
    font-size: 180%;
    display: block;
    padding-top: 80px;
    color: #000000;
}

#x a {
    text-decoration: none;
}

.box span:hover {
    color: red;
}

#mainContainer {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
}

#mainContainer h2, #calendar h2, #hourSelectMain h2, #patientData h2, #dataConfirm h2, #visitSummary h2 {
    text-align: center;
}

#mainContainer input:last-child {
    margin-left: 40%;
}

#calendar {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}

#calendar select:first-child {
    margin-right: 38%;
    font-size: 150%
}

#calendar select:last-child {
    font-size: 150%;
}

#calendarTable tr {
    background-color: yellowgreen;
    font-size: 130%;
}

#hourSelectMain {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%
}

#patientData {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%
}

#patientData form {
    margin-left: 30%;
    margin-right: 30%;
}

#dataConfirm form {
    margin-left: 40%;
    margin-right: 40%;
}

#visitSummary {
    margin-left: 30%;
    margin-right: 30%;
}

button {
    cursor: pointer;
}

#leftSideVisitSummary {
    float: left;
}

#rightSideVisitSummary {
    float: left; margin-left: 120px
}

#col1 {
    background-color: #5eb5e0;
}

#col2 {
    background-color: lightseagreen;
}

#selectVisitType {
    background-color: #5eb5e0;
}

.center {
    text-align: center;
}

.large {
    font-size: large;
}

.autoMargin {
    margin-left: auto;
    margin-right: auto;
}

#availableDay {
    text-decoration: none;
    color: green;
    font-size: 120%;
}

#adminSelection {
    margin-left: 20%;
    margin-right: 20%;
}

#hourSelection  a {
    text-decoration: none;
    font-size: 150%;
    color: #000000;
}

a {
    outline: 0;
}

a:hover, a:active, a:focus {
    outline: 0;
}

