body {
    background-color: #5eb5e0;
}

.days {
    border-right: solid 1px #000000;
    padding-left: 12px;
    padding-right: 12px;
}

.days:last-child {
    border-right: none;
}

#calendarTable td {
    text-align: center;
    border: 1px black dotted;
}